h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif
}
div.login {
    text-align: center;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
input {
    border-color: #ffdddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
        
}
button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: red;
}
div.quotes {
    text-align: left;

}